@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.ecc-root {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  font-family: "Quicksand", sans-serif;
}

.ecc-root button {
  border: none;
  cursor: pointer;
  outline: none;
}

.ecc-root--bottom-right {
  right: 1.5rem;
  bottom: 1.5rem;
}

.ecc-root--bottom-left {
  left: 1.5rem;
  bottom: 1.5rem;
}

@media (max-width: 375px) {
  .ecc-root--bottom-right {
    right: 0.5rem;
    bottom: 0.5rem;
  }

  .ecc-root--bottom-left {
    left: 0.5rem;
    bottom: 0.5rem;
  }
}